__pycache__/
*.pyc
.DS_Store
.env
CountdownTimer
CountdownTimer.xcodeproj
CountdownTimer.xcworkspace
CountdownTimerTests
CountdownTimerUITests
err.png
googleapi.md
googleAPIChanges.pdf
googleMoblieAds設定方法.md
interval.png
kaz.txt
Podfile
Podfile.lock
Pods
Pv2Sft.txt
README.md
repeat1024bk.png
SobreSiempreSRT.md
